@page
@model PrivacyModel

<a asp-page="/Index">首頁</a>
@{

}
<div>
    @Model.LastUpdateTime
    <form method="POST" asp-page-handler="MyPPost">
        <button type="submit">
            PostToTable
        </button>
    </form>

    


    @for (int i = 0; i < Model.Messages.Count; i++)
    {
        @for (int j = 0; j < Model.Messages[i].Count; j++)
        {
            <h1>@Model.Messages[i][j]</h1>
        }
    }
</div>